@use "@/app/ui/colors.scss" as *;
@use "@/app/ui/functions.scss" as *;

.container{
    @include flex(column,center,center);
    @include dimensions($full-width:100%);
    & > :first-child,& > :last-child{
        @include dimensions($full-width:100%);
    }
    & > :first-child{
        padding: 5px;
        @include flex(column,center,center);
        & > div{
            flex-direction: row-reverse !important;
            & > :nth-child(1){
                margin-right: 0;
            }
            & > :nth-child(2){
                margin-right: 10px;
            }
        }
    }
}

$slide-spacing: 1rem;
$slide-size: 100%;

.embla__viewport {
    overflow: hidden;
    padding: 5px;
    @include dimensions($full-width:100%);
}

.embla__container{
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(#{$slide-spacing} * -1);
}

.embla__slide{
    transform: translate3d(0, 0, 0);
    flex: 0 0 $slide-size;
    min-width: 0;
    margin-bottom: 0 !important;
    padding-left: $slide-spacing;
}

.embla__dots{
    margin-block: 5px;
    @include flex(row,center,center);
}

.embla__dot{
    cursor: pointer;
    margin-inline: 2.5px;
    @include dimensions($square:10px);
    border-radius: 50%;
    border: 2px solid $black;
}

.embla__selected{
    background-color: $black;
}
