@use "sass:list";

// set dimensions
@mixin dimensions(
    $width:fit-content,$max-width:fit-content,
    $height:fit-content,$max-height:fit-content,
    $full-height:null,$full-width:null,
    $square:null,$full-dimension:null,
){
    @if $square{
        width: $square;
        max-width: $square;
        height: $square;
        max-height: $square;
    }
    @else if $full-width{
        width: $full-width;
        max-width: $full-width;
        height: $height;
        max-height: $max-height;
    }
    @else if $full-height{
        width: $width;
        max-width: $max-width;
        height: $full-height;
        max-height: $full-height;
    }
    @else if $full-dimension{
        width: list.nth($full-dimension,1);
        max-width: list.nth($full-dimension,1);
        height: list.nth($full-dimension,2);
        max-height: list.nth($full-dimension,2);
    }
    @else{
        width: $width;
        max-width: $max-width;
        height: $height;
        max-height: $max-height;
    }
}

// set flexbox properties
@mixin flex($direction,$align:stretch,$justify:flex-start){
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

// disables selecting
@mixin noSelect(){
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

// set background image
@mixin backgroundImage($url){
    background-size: cover;
    background-image: url($url);
    background-position: center;
}