@import "functions.scss";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

:root{
    --white: #f5f5f5;
    --black: #333333;
}

body{
    background-color: var(--white);
    @include flex(column,center,center);
    @include dimensions(100vw,100vw,100vh,100vh);
}

#root{
    @include flex(column,center,center);
    @include dimensions(100%,1500px,100%,100%);
}