@use "sass:color";
@use "colors.scss" as *;
@use "functions.scss" as *;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body{
    background-color: $black;
    @include flex(column,center,center);
    @include dimensions(100vw,100vw,100vh,100vh);
}

#root{
    padding: 25px;
    @include flex(column,center,flex-start);
    @include dimensions(100%,1500px,100%,100%);
}

.disabled-button{
    cursor: not-allowed !important;
}

a{
    text-align: center;
    text-decoration: none;
}

$d-radius: 5px;
$p-padding: 10px;
$cover: 300px;
$border: 2px;

#platform,#authorize{
    @include flex(column,center,center);
    @include dimensions($full-width:calc(#{$cover} + ((#{$p-padding} + #{$border}) * 2)));
}

#display{
    margin-bottom: 20px;
    padding: $p-padding;
    border: $border solid $black;
    border-radius: calc(#{$p-padding} + #{$d-radius});
    @include dimensions($full-width:100%);
    & > :nth-child(1){
        display: block;
        border-radius: $d-radius;
        margin-bottom: 10px;
        @include dimensions($square:$cover);
        @include noSelect();
    }
    & > :nth-child(2){
        $info: 70%;
        $space: 10px;
        $controls: calc(100% - #{$info} - #{$space});
        @include flex(row,center,flex-start);
        @include dimensions($full-width:100%);
        & > :nth-child(1){
            color: $black;
            margin-right: $space;
            @include dimensions($full-width:$info);
            @include flex(column,flex-start,flex-start);
            & > div{
                overflow: hidden;
                @include dimensions($full-width:100%);
                & > div{
                    white-space: nowrap;
                    @include dimensions($full-height:100%);
                }
            }
            & > :nth-child(1){
                font-size: 24px;
                line-height: 30px;
            }
            & > :nth-child(2){
                font-size: 17px;
            }
        }
        & > :nth-child(2){
            overflow: hidden;
            @include flex(row,flex-start,space-between);
            @include dimensions($full-dimension:($controls,50px));
            border-radius: $d-radius;
            & > div{
                cursor: pointer;
                @include dimensions($full-dimension:(45%,100%));
                background-color: $black;
                & > svg{
                    fill: $white;
                    @include dimensions($square:100%);
                }
            }
        }
    }
}

#authorize{
    height: 100%;
    max-height: 100%;
    & > *{
        padding: 5px;
        @include flex(column,center,center);
        @include dimensions($full-width:100%);
    }
}
