@use "@/app/ui/colors.scss" as *;
@use "@/app/ui/functions.scss" as *;

.message{
    $size: 16px;
    padding: 5px;
    @include flex(column,center,center);
    @include dimensions($full-dimension:(100%,60px));
    @include noSelect();
    font-size: $size;
    line-height: $size;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid $black;
}

.error_message{
    color: $red;
}

.info_message{
    color: $green;
}
